@model InstanceStatusVm
@{
}
<h2>Statuses</h2>

<div hx-ext="sse" sse-connect="/sse">
    <div id="chat-container" sse-swap="newMessage" hx-swap="beforeend">
        <!-- Chat messages will be displayed here -->
    </div>
</div>
<h3>Status count is @Model.InstanceStatuses.Count</h3>
@foreach (var instance in Model.InstanceStatuses)
{
    <h3>@instance.Name</h3>
    @foreach (var status in instance.Statuses ?? new Status[0])
    {
        <div class="status-box">

            <p>
                <span>@status.account.display_name</span>
                <br/>
                <div>
                    @Html.Raw(status.content)
                </div>

            </p>

        </div>
    }
}