@model StatusVm
@{
}
<h2>Statuses</h2>


<h3>Status count is @Model.Statuses.Length</h3>
    @foreach (var status in Model.Statuses?? new Status[0])
    {
        <div class="status-box">

        <p>
            <span>@status.account.display_name</span>
            <br/>
            <div>
                @Html.Raw(status.content)
            </div>
            
        </p>
        
        </div>
        }
<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>