html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0;
    align-self: center;
}

.status-box {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*    .status-box img {
        width: 50%;
    }*/

    .status-box p,
    .status-box div {
        margin: 10px 0;
    }

    .status-box span {
        font-weight: bold;
        font-size: 1.2em;
    }


/* Base styles */
/*body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}*/

.searchForm {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .searchForm form {
        display: flex;
        flex-direction: column;
    }

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

    .form-control:focus {
        border-color: #007bff;
        outline: none;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

.btn-primary {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-primary:focus {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }
